@charset "UTF-8";
html {
  font-size: 62.5%; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

body {
  background: #f9f8f6;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

.owl-theme {
  overflow: hidden; }
  .owl-theme .owl-dots {
    float: left; }
    .owl-theme .owl-dots .owl-dot.active span {
      background-color: #9d1a2d; }
    .owl-theme .owl-dots .owl-dot span {
      width: 40px;
      height: 3px; }
      @media (min-width: 550px) {
        .owl-theme .owl-dots .owl-dot span {
          width: 25px;
          height: 2px;
          margin: 0 8px 0 0; } }

/*header*/
header .pc_navi {
  display: none; }
header h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0; }
header .sp_icon {
  text-align: center;
  letter-spacing: 0.5em; }
  @media (max-width: 550px) {
    header .sp_icon {
      margin-bottom: 0; } }
  header .sp_icon #sp_navi_btn {
    cursor: pointer; }
  header .sp_icon .sp_navi_li {
    display: none; }
header .sp_navi .sp_navi_li {
  width: 150px;
  position: absolute;
  top: 85px;
  right: 2%;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 100; }
  header .sp_navi .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .sp_navi .sp_navi_li li a {
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      color: #4c4c4c;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none; }

#new_items .cate_title h2, #popular_items .cate_title h2 {
  text-align: center;
  margin-bottom: 6px; }
  @media (min-width: 550px) {
    #new_items .cate_title h2, #popular_items .cate_title h2 {
      display: none; } }
@media (max-width: 550px) {
  #new_items .pc_cate_title h2, #popular_items .pc_cate_title h2 {
    display: none; } }
#new_items .flex-container, #popular_items .flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap; }
  #new_items .flex-container .item-box, #popular_items .flex-container .item-box {
    padding: 8px;
    margin-bottom: 2px;
    width: calc(50% - 1px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff; }
    #new_items .flex-container .item-box img, #popular_items .flex-container .item-box img {
      width: 100%; }
    #new_items .flex-container .item-box .item-name p, #popular_items .flex-container .item-box .item-name p {
      font-size: 1.4rem;
      margin-bottom: 0.6rem; }
    @media (min-width: 550px) {
      #new_items .flex-container .item-box, #popular_items .flex-container .item-box {
        width: calc(33.33333% - 1px); } }

#shopping_guide .cate_title h2 {
  text-align: center; }
  @media (min-width: 550px) {
    #shopping_guide .cate_title h2 {
      display: none; } }
@media (max-width: 550px) {
  #shopping_guide .pc_cate_title h2 {
    display: none; } }
@media (min-width: 550px) {
  #shopping_guide .guide-box {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap; } }
@media (min-width: 550px) {
  #shopping_guide .guide-box .deliver {
    margin-right: 3px; } }
#shopping_guide .guide-box .deliver, #shopping_guide .guide-box .payment {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 10px; }
  @media (min-width: 550px) {
    #shopping_guide .guide-box .deliver, #shopping_guide .guide-box .payment {
      padding: 10px;
      width: calc(50% - 3px);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
  #shopping_guide .guide-box .deliver h3, #shopping_guide .guide-box .payment h3 {
    color: #887f69;
    font-size: 22px;
    font-size: 2.2rem; }
    @media (min-width: 550px) {
      #shopping_guide .guide-box .deliver h3, #shopping_guide .guide-box .payment h3 {
        font-size: 18px;
        font-size: 1.8rem; } }
  #shopping_guide .guide-box .deliver dt, #shopping_guide .guide-box .payment dt {
    color: #887f69;
    font-size: 16px;
    font-size: 1.6rem; }
    @media (min-width: 550px) {
      #shopping_guide .guide-box .deliver dt, #shopping_guide .guide-box .payment dt {
        font-size: 12px;
        font-size: 1.2rem;
        margin-top: 0; } }
  #shopping_guide .guide-box .deliver dt:before, #shopping_guide .guide-box .payment dt:before {
    content: "■";
    font-size: 24px;
    font-size: 2.4rem; }
  #shopping_guide .guide-box .deliver dd, #shopping_guide .guide-box .payment dd {
    margin-left: 0em;
    margin-bottom: 1em; }
    @media (min-width: 550px) {
      #shopping_guide .guide-box .deliver dd, #shopping_guide .guide-box .payment dd {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 0; } }
    #shopping_guide .guide-box .deliver dd img, #shopping_guide .guide-box .payment dd img {
      width: 100%; }

#sidebar .search {
  background-color: #ffffff;
  padding: 25px 15px;
  margin-bottom: 15px; }
  @media (min-width: 550px) {
    #sidebar .search {
      padding: 10px 15px;
      margin-bottom: 15px; } }
  @media (max-width: 550px) {
    #sidebar .search .search-box img {
      display: none; } }
  #sidebar .search .search-box input[type="search"] {
    width: 80%;
    height: 24px;
    padding: 3px 15% 3px 3%;
    background-color: #eee;
    position: relative;
    z-index: 0;
    -webkit-appearance: textfield;
    font-size: 1.2rem;
    box-sizing: content-box;
    border: none;
    margin: 0; }
  #sidebar .search .search-box input[type="image"] {
    float: right;
    margin: -26px 16px 0 0;
    position: relative;
    z-index: 100;
    height: 18px; }
  #sidebar .search .search-box dl, #sidebar .search .search-box dt, #sidebar .search .search-box dd {
    margin: 0;
    padding: 0; }
  @media (min-width: 550px) {
    #sidebar .search .search-box dl {
      margin: 10px 0; } }
#sidebar .pagelink, #sidebar .catelink {
  margin-bottom: 15px; }
  #sidebar .pagelink .openlink, #sidebar .pagelink .opencate, #sidebar .catelink .openlink, #sidebar .catelink .opencate {
    background: #887f69; }
    #sidebar .pagelink .openlink p, #sidebar .pagelink .opencate p, #sidebar .catelink .openlink p, #sidebar .catelink .opencate p {
      color: #fff;
      padding: 16px 0 16px 20px;
      letter-spacing: 0.1em;
      background: url(../images/top/next_icon.png) no-repeat 95% center;
      margin-bottom: 0; }
  #sidebar .pagelink .page_list, #sidebar .pagelink .cate_list, #sidebar .catelink .page_list, #sidebar .catelink .cate_list {
    margin: 0; }
    #sidebar .pagelink .page_list li, #sidebar .pagelink .cate_list li, #sidebar .catelink .page_list li, #sidebar .catelink .cate_list li {
      list-style: none;
      margin-bottom: 2px;
      background-color: #fff; }
      #sidebar .pagelink .page_list li a, #sidebar .pagelink .cate_list li a, #sidebar .catelink .page_list li a, #sidebar .catelink .cate_list li a {
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-size: 1.6rem;
        padding: 16px 0 16px 20px;
        background: url(../images/top/next_icon_gray.png) no-repeat 95% center; }
#sidebar .about, #sidebar .shop-info {
  margin-bottom: 15px; }
  #sidebar .about .about-title, #sidebar .about .info-title, #sidebar .shop-info .about-title, #sidebar .shop-info .info-title {
    background: #887f69; }
    #sidebar .about .about-title p, #sidebar .about .info-title p, #sidebar .shop-info .about-title p, #sidebar .shop-info .info-title p {
      color: #fff;
      padding: 16px 0 16px 20px;
      font-weight: bold;
      letter-spacing: 0.1em;
      margin-bottom: 0; }
  #sidebar .about .aboutin, #sidebar .about .infoin, #sidebar .shop-info .aboutin, #sidebar .shop-info .infoin {
    background-color: #fff;
    padding: 10px 10px 30px 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between; }
    @media (min-width: 550px) {
      #sidebar .about .aboutin, #sidebar .about .infoin, #sidebar .shop-info .aboutin, #sidebar .shop-info .infoin {
        -webkit-flex-direction: column;
        /* Safari */
        flex-direction: column; } }
    #sidebar .about .aboutin .sub_img, #sidebar .about .infoin .sub_img, #sidebar .shop-info .aboutin .sub_img, #sidebar .shop-info .infoin .sub_img {
      display: block;
      max-width: 100%; }
      @media (min-width: 550px) {
        #sidebar .about .aboutin .sub_img img, #sidebar .about .infoin .sub_img img, #sidebar .shop-info .aboutin .sub_img img, #sidebar .shop-info .infoin .sub_img img {
          width: 100%; } }
    #sidebar .about .aboutin .sub_text, #sidebar .about .infoin .sub_text, #sidebar .shop-info .aboutin .sub_text, #sidebar .shop-info .infoin .sub_text {
      padding: 0 0 0 10px; }
      @media (min-width: 550px) {
        #sidebar .about .aboutin .sub_text, #sidebar .about .infoin .sub_text, #sidebar .shop-info .aboutin .sub_text, #sidebar .shop-info .infoin .sub_text {
          padding: 0px; } }
      #sidebar .about .aboutin .sub_text p, #sidebar .about .infoin .sub_text p, #sidebar .shop-info .aboutin .sub_text p, #sidebar .shop-info .infoin .sub_text p {
        font-size: 1.3rem;
        margin-bottom: 10px;
        line-height: 1.6;
        padding-bottom: 10px; }
      @media (min-width: 550px) {
        #sidebar .about .aboutin .sub_text .more_button, #sidebar .about .infoin .sub_text .more_button, #sidebar .shop-info .aboutin .sub_text .more_button, #sidebar .shop-info .infoin .sub_text .more_button {
          text-align: center; } }
      #sidebar .about .aboutin .sub_text .more_button a, #sidebar .about .infoin .sub_text .more_button a, #sidebar .shop-info .aboutin .sub_text .more_button a, #sidebar .shop-info .infoin .sub_text .more_button a {
        background-color: #887f69;
        -moz-border-radius: 28px;
        -webkit-border-radius: 28px;
        border-radius: 28px;
        display: inline-block;
        color: #fff;
        font-size: 1.3rem;
        padding: 5px 25px;
        text-decoration: none; }

#pagetop {
  text-align: center;
  margin: 20px 0 30px 0; }
  @media (min-width: 550px) {
    #pagetop {
      text-align: right; } }

@media (min-width: 550px) {
  footer {
    margin: o auto; } }
footer ul {
  margin: 0 auto 20px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #e2ddd4; }
  footer ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.3rem; }
    footer ul li a {
      text-decoration: none; }
    footer ul li a:before {
      content: "・"; }
footer small {
  margin-bottom: 60px;
  text-align: center;
  color: #b8b4ac; }

/*PC表示のスタイル*/
/*header*/
@media (min-width: 550px) {
  header {
    padding: 20px 0 0; }
    header h1 {
      float: left; }
      header h1 img {
        width: 140px; }
    header .pc_navi {
      display: block; }
      header .pc_navi .pc_navi_li {
        float: right; }
        header .pc_navi .pc_navi_li li {
          margin: 0;
          padding: 0;
          display: inline-block;
          vertical-align: bottom; }
          header .pc_navi .pc_navi_li li a {
            text-decoration: none;
            font-weight: bold;
            margin-right: 16px;
            color: #524b3b; }
          header .pc_navi .pc_navi_li li img {
            margin-right: 12px; }
    header .sp_icon, header .sp_navi {
      display: none; } }

/*商品一覧ページのスタイル*/
#pan {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 5px 0 0 10px;
  background: #e8e4da;
  border: solid 1px #e8e4da;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  #pan li {
    list-style: none;
    float: left; }
    #pan li a {
      text-decoration: none;
      margin-right: 10px;
      color: #8a8168;
      font-size: 1.4rem; }
  #pan li.home a::after {
    content: "/"; }

#cover_list_pc img {
  width: 100%; }
@media (max-width: 550px) {
  #cover_list_pc {
    display: none; } }

@media (min-width: 550px) {
  #cover_list_sp {
    display: none; } }

#list_buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between; }
  #list_buttons .back_button, #list_buttons .next_button {
    margin-top: 20px; }
    #list_buttons .back_button a, #list_buttons .next_button a {
      text-decoration: none;
      display: block;
      background: #8a8168;
      color: #fff;
      padding: 10px 40px;
      text-align: center; }

#recently_item .rece_title_sp h2 {
  text-align: center;
  margin-top: 20px; }
  @media (min-width: 550px) {
    #recently_item .rece_title_sp h2 {
      display: none; } }
@media (max-width: 550px) {
  #recently_item .rece_title_pc h2 {
    display: none; } }
#recently_item .flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap; }
  #recently_item .flex-container .item-box {
    padding: 8px;
    margin-bottom: 2px;
    width: calc(50% - 1px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff; }
    #recently_item .flex-container .item-box img {
      width: 100%; }
    #recently_item .flex-container .item-box .item-name p {
      font-size: 1.4rem;
      margin-bottom: 0.6rem; }
    @media (min-width: 550px) {
      #recently_item .flex-container .item-box {
        width: calc(33.33333% - 1px); } }

/*商品詳細ページのスタイル*/
#products_box {
  padding: 15px;
  background-color: #fff; }
  @media (min-width: 550px) {
    #products_box {
      padding: 30px; } }
  #products_box .products_name {
    font-size: 1.4rem;
    padding: 0;
    font-weight: bold;
    border-bottom: 1px solid #e2ddd4; }
  #products_box .products_id {
    display: block;
    font-weight: normal;
    font-size: 1.2rem;
    color: #b0b0b0;
    padding-top: 10px;
    padding-bottom: 10px; }
  #products_box .products_pics {
    margin-bottom: 20px;
    border-bottom: 1px solid #e2ddd4; }
    @media (min-width: 550px) {
      #products_box .products_pics {
        overflow: hidden;
        padding-bottom: 20px;
        margin-bottom: 0; } }
    #products_box .products_pics .main_pic {
      margin-bottom: 3px; }
      @media (min-width: 550px) {
        #products_box .products_pics .main_pic {
          width: calc(72% - 2px);
          float: left;
          margin-right: 2px; } }
      #products_box .products_pics .main_pic img {
        display: block;
        max-width: 100%; }
    #products_box .products_pics .products_list {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap; }
      @media (min-width: 550px) {
        #products_box .products_pics .products_list {
          width: 28%;
          float: right; } }
      #products_box .products_pics .products_list li {
        list-style: none;
        width: calc(20% - 2px);
        margin-right: 2px; }
        @media (min-width: 550px) {
          #products_box .products_pics .products_list li {
            width: 48%;
            float: left;
            margin-bottom: 2px; } }
        #products_box .products_pics .products_list li img {
          width: 100%;
          display: block; }
  #products_box .shopping-box table {
    margin-top: 20px;
    width: 100%; }
    #products_box .shopping-box table th, #products_box .shopping-box table td {
      border: 1px solid #e2ddd4;
      text-align: center; }
    #products_box .shopping-box table th {
      padding: 10px;
      font-size: 1.3rem;
      color: #998669;
      font-weight: normal;
      background: #f9f9f5; }
    #products_box .shopping-box table td {
      padding-top: 14px; }
  @media (min-width: 550px) {
    #products_box .shopping-box #form-container {
      overflow: hidden;
      border-bottom: 1px solid #e2ddd4;
      margin-bottom: 20px; } }
  #products_box .shopping-box #form-container .form-box {
    width: 100%; }
    @media (min-width: 550px) {
      #products_box .shopping-box #form-container .form-box {
        float: left;
        width: 55%; } }
    #products_box .shopping-box #form-container .form-box .price_cate {
      border-top: 1px solid #e2ddd4;
      border-bottom: 1px solid #e2ddd4;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap; }
      #products_box .shopping-box #form-container .form-box .price_cate h3 {
        width: 35%;
        margin-bottom: 10px;
        padding: 5px 0 0; }
      #products_box .shopping-box #form-container .form-box .price_cate .price_box {
        font-style: italic;
        width: 60%;
        display: inline-block;
        padding: 10px 0 0;
        margin-bottom: 10px; }
        #products_box .shopping-box #form-container .form-box .price_cate .price_box strong {
          color: #e80f66;
          font-size: 2.2rem;
          font-weight: normal; }
          #products_box .shopping-box #form-container .form-box .price_cate .price_box strong span {
            padding: 0 5px;
            font-size: 1.3rem; }
    #products_box .shopping-box #form-container .form-box .quantity_cate {
      margin-bottom: 16px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap; }
      @media (max-width: 550px) {
        #products_box .shopping-box #form-container .form-box .quantity_cate {
          border-bottom: 1px solid #e2ddd4; } }
      #products_box .shopping-box #form-container .form-box .quantity_cate h3 {
        width: 35%;
        margin-bottom: 10px;
        padding: 5px 0 0; }
      #products_box .shopping-box #form-container .form-box .quantity_cate .quantity_box {
        width: 60%;
        display: inline-block;
        padding: 15px 0 0;
        margin-bottom: 0; }
  #products_box .shopping-box #form-container .cart_btn img {
    display: block;
    margin: 0 auto 20px; }
    @media (min-width: 550px) {
      #products_box .shopping-box #form-container .cart_btn img {
        float: right; } }
  #products_box .shopping-box .products_detail h3 {
    border-bottom: 1px solid #887f69; }
  #products_box .shopping-box .products_detail h3, #products_box .shopping-box .products_detail h2 {
    font-size: 1.5rem;
    color: #887f69;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 0; }
  #products_box .shopping-box table tbody th {
    font-size: 1.3rem;
    color: #998669;
    background: #f9f9f5;
    padding: 10px;
    text-align: center; }
  #products_box .shopping-box table tbody .text {
    text-align: left;
    padding: 10px;
    font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */
